/* links */
a:hover {
    color: white;
    text-decoration: none;
}

.fs36 { font-size: 36px !important; }
.fs20 { font-size: 23px !important; }

.pinboard > div > div {
    font-size: 43px;
}

/* loading */
.loading-overlay {
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url("../images/ajax-loader.gif");
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 999999;
    position: absolute;
}
